<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Baritone Bot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/static/app.js" defer></script>
        <link rel="stylesheet" href="/static/main.css">
        {{ asset "application.css" }}
    </head>
    <body>
        <main class="body">
            {{yield}}
        </main>
    </body>
</html>
